{% extends "index.html" %}

{% block title %}
Find Rx
{% endblock %}

{% block content %}
<h1 align="center">Find Rx</h1>

<form action="/" align="center">
    <input type="text" id="fname" name="fname" value="{{''}}" placeholder="patient's name">
    <input type="submit" value="Submit">
    {% if not rec %}
    <h2 align="center"><font color='red'>No patients found</font></h2>
    {% endif%}
    </script>

    <div align="center">
        <table class="table table-striped col-sm-11 mx-auto my-5">
            <thead>
                <tr>
                    <td scope="col"><b>Rx #</b></td>
                    <td scope="col"><b>Name</b></td>
                    <td scope="col"><b>DOB</b></td>
                    <td scope="col"><b>Address</b></td>
                    <td scope="col"><b>City</b></td>
                    <td scope="col"><b>State</b></td>
                    <td scope="col"><b>Zip Code</b></td>
                    <td scope="col"><b>Date Prescribed</b></td>
                    <td scope="col"><b>Drug</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{rec.prescription_number}}</td>
                    <td>{{rec.patient_name}}</td>
                    <td>{{rec.date_of_birth}}</td>
                    <td>{{rec.address}}</td>
                    <td>{{rec.city}}</td>
                    <td>{{rec.state}}</td>
                    <td>{{rec.zipcode}}</td>
                    <td>{{rec.date_prescribed}}</td>
                    <td>{{rec.drug_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
{% endblock %}



