{% extends "index.html" %}

{% block title %}
Sign Up
{% endblock %} 

{% block content %}

<div class="container">
    <div class="row row-content">
        <div class="col col-sm-7 mx-auto">
            <div class="card mt-3 rounded">
                <h2 class="card-header bg-dark text-white rounded">Sign Up</h2>
                <div class="card-body">
                    <form class="form-group" method = "POST">
                        <div class="col col-sm-6 signup-form mx-auto">
                            <div align="center">
                                <input type="email" class="form-control mb-1" name="email" placeholder="Email"/>
                            </div>
                            <div align="center">
                                <input type="text" class="form-control mb-1" name="firstName" placeholder="Name" />
                            </div>
                            <div align="center">
                                <input type="password" class="form-control mb-1" name="password1" placeholder="Password" />
                            </div>
                            <div align="center">
                                <input type="password" class="form-control mb-1" name="password2" placeholder="Confirm Password" />
                            </div>
                            <br /> 
                            <div align=" center">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}